/* Stylesheet CSS - Main stylesheet for the change password page (changepassword.php)
Contributors - Tamara Maggs */

body {
  background:#778899;

  font-family: "Roboto", sans-serif;
}
#changePassword-title {
	font-family: "Roboto", sans-serif;
	font-size: 24;
	font-weight: bold;
	color: #708090;
}
#changePassword-request {
	font-family: "Roboto", sans-serif;
	font-size: 14;
	color: #708090;
	margin: 0 0 25px;
}
.changePassword-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#in-old {
  font-family: "Roboto", sans-serif;
  border: 0;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#in-new {
  font-family: "Roboto", sans-serif;
  border: 0;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 25px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#in-confirm {
  font-family: "Roboto", sans-serif;
  border: 0;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 25px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #778899;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 20;
  cursor: pointer;
}

.form .button:hover{
  background: #B0C4DE;
}
.form .button:active{
	background:#708090
}
